<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>OAuth</title>
        <style>
            body {
                font-family: Arial;
                margin: 0;
            }
            nav{
                background: #ff5353;
                padding: 20px 10px;
            }
            nav ul{
                max-width: 960px;
                margin: 0 auto;
                padding: 0;
            }
            nav li{
                list-style-type: none;
                margin: 0 10px 0 0;
                display : inline-block;
            }
            nav a{
                color: #fff;
                font-size: 18px;
                background : rgba(255,255,255,0.2);
                text-decoration: none;
                padding: 10px;
                display: block;
            }
            main,header {
                max-width: 960px;
                margin: 30px auto;
                padding: 0px 10px;
                color: #333;
            }
        </style>
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/auth/login">Login</a></li>
                <li><a href="/auth/logout">Logout</a></li>
                <li><a href="/">HomePage</a></li>
            </ul>
        </nav>
        <header>
            Author : UdayBK
        </header>
        <main>
            <p>Rock on OAuth</p>
        </main>
    </body>
</html>